.body{
    font-family: sans-serif;    
}

.barra-ppal{
    box-sizing: border-box;
   align-items: center;
}

.barra-ppal img {
    margin-top:40px;
    background-color: inherit;
    border-radius: 50%;
    width: 300px; 
    padding-left: 450px;
}


.barra-ppal h1{
    padding-left: 325px;
    font-size: 85px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contenedor-buscador {
    display: flex;
    align-items: last baseline;
    width: 190px;

}
.contenedor-buscador input[type="text"] {
    box-sizing: 2px;
    padding: 10px;
    border:beige;
}


.contenedor-buscador button {
    cursor: pointer;
    box-sizing: 2px;
   
    border-radius: 5px 5px 5px 5px;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    box-shadow: 0px 0px 4px #0007;
    padding-right: 5px;

}
.categorias{
    background-color: #f4c7f6;
    padding :2px;
    font-size: 20px;
    
}
.categorias ul {
    display:flex ;
    justify-content: space-between;
    padding: 10px 10px; /* Espaciado interno de los elementos del menú */
    text-decoration: none; 
    list-style: none;
}
.categorias a{
    text-decoration: none;
}
.categorias a:hover {
    background-color:#ecacec; /* Color de fondo cuando se pasa el mouse */
}
.contenido-ppal {
background-color: #ecacec;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
padding-left: 10px ;

}



.articles {
    width: 65%;
    height : 5px;
}

.nota{
    display: flex;
    margin-top:20px;
    padding: 14px 5px; 
    padding-bottom: 25px;
  }  

img{
    border-radius: 30%;
    box-shadow: #5c054b;
    width: 370px;
    padding-left: 8px;
}

.naranja  {
    border-radius: 30%;
    box-shadow: #5c054b;
    width: 350px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.chiquitos{
    border-radius: 30%;
    box-shadow: #5c054b;
    width: 200px;
    padding-right: 15px;

}



.contacto{
    width: 40%;
    font-size: 20px;
    padding-left: 5px;
 margin-top:50px
}
input{
    font-size: 10px;
 width: 100%;
box-sizing: border-box;
padding:6px 12px;
border-style: groove;
border-left: 4px solid bisque;
background-color: rgb(240, 228, 213);
box-shadow: 0px 0px 4px rgba(201, 196, 196, 0.467);
}
label{
    font-size: 15px;
}

textarea{
border-style: groove;
width: 100%;
background-color: rgb(240, 228, 213);
box-shadow: 0px 0px 4px rgba(214, 204, 204, 0.467);
box-sizing: border-box;

}
button{
    cursor: pointer;
    align-items: end;
    box-sizing: 20px;
    padding: 10px;
    border: #a9a5a5;
    border-radius: 5px 5px 5px 5px;
    background-color:rgb(240, 215, 169); var(--primary-color);
    box-shadow: 0px 0px 4px rgba(164, 161, 161, 0.467);

}
.contenedor-comentarios  {
    padding: 5px;
    width: 40%;
}
P{
    font-size: 25px;
}

textarea{
    margin: top;
    padding: 5px;
    border-radius: 8px;
    min-width: 90%;
    min-height: 100px;
   position-anchor: ;
    background-color:rgb(242, 231, 218);
    border: 0;
    box-sizing: border-box;
}


.footer p{
    font-size: 12px;
} 
    
    
    
    
    
    




